@tailwind base;
@tailwind components;
@tailwind utilities;

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
}

.confetti-piece {
  position: absolute;
  top: -20px;
  will-change: transform;
}

.heart {
  color: #ec4899; /* Pink color */
  font-size: 1.5rem;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  from {
    transform: translateY(0) rotate(0deg);
  }
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}
